<template>
  <v-container>
    <v-row dense>
      <v-col cols="auto">
        <v-card class="product-detail__category" outlined>
          <v-list>
            <v-list-item two-line>
              <v-img src="/static/assets/function/magnifying-glass.svg"></v-img>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="product-detail__products" outlined>
          <v-card-title class="font-weight-bold text-uppercase">{{
            productInfo.name
          }}</v-card-title>
          <v-container>
            <v-row dense>
              <v-col cols="auto" md="4">
                <v-img
                  width="200"
                  contain
                  src="/static/assets/logo/app_logo.png"
                ></v-img>
              </v-col>
              <v-col cols="12" md="4">
                <v-card-text>• Mã sản phẩm: {{ productInfo.id }}</v-card-text>
                <v-card-text>• Mô tả sản phẩm: </v-card-text>
              </v-col>
              <v-col cols="12" md="4">
                <v-card-text>• Đơn vị tính: {{ productInfo.unit }}</v-card-text>
                <v-card-text
                  >• Giá: {{ formatPrice(productInfo.price) }} đồng</v-card-text
                >
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "ProductDetail",
  mixins: [UtilsMixins],
  props: {
    id: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      url: {
        products: `${this.baseUrl}/products`,
      },
      productInfo: {},
    };
  },
  created() {
    this.getProduct();
  },
  methods: {
    getProduct() {
      this.$http.get(`${this.url.products}/${this.id}`).then((res) => {
        this.productInfo = res.data;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.product-detail__category {
  width: 60px;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-detail__products {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
</style>