<template>
  <v-container>
    <v-row>
      <v-col>
        <v-carousel height="84" hide-delimiters>
          <v-carousel-item class="pl-16 pr-16" light>
            <v-container>
              <v-row>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/apple.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title v-text="12345"> </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/fish.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title class="justify-center" v-text="12345">
                      </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/carrot.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title class="justify-center" v-text="12345">
                      </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/beef.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title class="justify-center" v-text="12345">
                      </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-carousel-item>
          <v-carousel-item class="pl-16 pr-16" light>
            <v-container>
              <v-row>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/apple.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title v-text="12345"> </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/fish.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title class="justify-center" v-text="12345">
                      </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/carrot.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title class="justify-center" v-text="12345">
                      </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
                <v-col md="3">
                  <v-card class="rounded-lg" outlined>
                    <v-list-item>
                      <v-list-item-avatar tile>
                        <v-img
                          contain
                          src="/static/assets/function/beef.svg"
                        ></v-img>
                      </v-list-item-avatar>
                      <v-list-item-title class="justify-center" v-text="12345">
                      </v-list-item-title>
                    </v-list-item>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="2" md="2">
        <v-card class="product-list__category rounded-lg" flat outlined>
          <v-list>
            <v-list-item dense>
              <v-list-item-avatar>
                <v-icon color="orange darken-2">mdi-menu</v-icon>
              </v-list-item-avatar>
              <v-list-item-title
                class="subtitle-2 orange--text text--darken-2 text-uppercase font-weight-bold"
              >
                Danh mục sản phẩm
              </v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item
              dense
              v-for="(item, index) in categoryItems"
              :key="index"
              two-line
              :to="{
                name: 'ProductList',
                params: { category: item.params },
              }"
              active-class="orange--text"
            >
              <v-list-item-title class="subtitle-2 text-uppercase">{{
                item.title
              }}</v-list-item-title>
            </v-list-item>
          </v-list>
          <!-- <v-list>
            <v-tooltip left>
              <template v-slot:activator="{ on: onTooltip }">
                <v-menu
                  v-model="searchMenu"
                  :close-on-content-click="false"
                  offset-y
                >
                  <template v-slot:activator="{ on: onMenu }">
                    <v-list-item two-line v-on="{ ...onMenu, ...onTooltip }">
                      <v-img
                        src="/static/assets/function/magnifying-glass.svg"
                      ></v-img>
                    </v-list-item>
                  </template>

                  <v-card width="200">
                    <v-text-field
                      v-model="searchText"
                      color="orange"
                      prepend-inner-icon="mdi-magnify"
                      placeholder="Tìm theo tên"
                      hide-details
                      @keyup.enter="onClickSearchByName"
                      flat
                      solo
                    ></v-text-field>
                  </v-card>
                </v-menu>
              </template>
              <span>Tìm kiếm</span>
            </v-tooltip>

            <v-tooltip left>
              <template v-slot:activator="{ on: onTooltip }">
                <v-menu
                  v-model="sortMenu"
                  :close-on-content-click="false"
                  offset-y
                >
                  <template v-slot:activator="{ on: onMenu }">
                    <v-list-item two-line v-on="{ ...onMenu, ...onTooltip }">
                      <v-img src="/static/assets/function/transfer.svg"></v-img>
                    </v-list-item>
                  </template>
                  <v-card width="200">
                    <v-select
                      v-model="sortOrder"
                      :items="sortItems"
                      color="orange"
                      prepend-inner-icon="mdi-sort-alphabetical-ascending"
                      placeholder="Sắp xếp theo"
                      hide-details
                      flat
                      solo
                    ></v-select>
                  </v-card>
                </v-menu>
              </template>
              <span>Sắp xếp</span>
            </v-tooltip>

            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-list-item two-line @click="onClickClearFilter" v-on="on">
                  <v-img src="/static/assets/function/funnel.svg"></v-img>
                </v-list-item>
              </template>
              <span>Xóa bộ lọc</span>
            </v-tooltip>

            <v-divider></v-divider>
            <v-tooltip left v-for="(item, index) in categoryItems" :key="index">
              <template v-slot:activator="{ on }">
                <v-list-item
                  two-line
                  v-on="on"
                  :to="{
                    name: 'ProductList',
                    params: { category: item.params },
                  }"
                >
                  <v-img :src="item.img"></v-img>
                </v-list-item>
              </template>
              <span>{{ item.title }}</span>
            </v-tooltip>
          </v-list> -->
        </v-card>
      </v-col>
      <v-col sm="10" md="10">
        <v-card class="rounded-lg" outlined>
          <v-card-title>
            <div>
              <v-icon>mdi-filter</v-icon>
              <span class="subtitle-2 text-uppercase font-weight-bold">
                Bộ lọc
              </span>
            </div>
            <v-checkbox
              class="mt-0 ml-8"
              dense
              hide-details
              label="Đồ chay"
            ></v-checkbox>
            <v-checkbox
              class="mt-0 ml-8"
              dense
              hide-details
              label="Đồ chay"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-menu v-model="sortMenu" :close-on-content-click="false" offset-y>
              <template v-slot:activator="{ on: onMenu }">
                <div class="pointer" v-on="{ ...onMenu }">
                  <v-icon>mdi-sort</v-icon>
                  <span class="subtitle-2 text-uppercase font-weight-bold">
                    Sắp xếp
                  </span>
                </div>
              </template>
              <v-card width="200">
                <v-select
                  v-model="sortOrder"
                  :items="sortItems"
                  color="orange"
                  prepend-inner-icon="mdi-sort-alphabetical-ascending"
                  placeholder="Sắp xếp theo"
                  hide-details
                  flat
                  solo
                ></v-select>
              </v-card>
            </v-menu>
          </v-card-title>
        </v-card>

        <v-card
          class="product-list__products"
          flat
          solo
          @scroll="wrapperScroll"
        >
          <v-container>
            <v-row>
              <v-col
                class="product-list__products__col"
                v-for="(item, index) in productsInfo.list"
                :key="index"
                cols="12"
                lg="2"
                md="4"
                sm="6"
              >
                <v-card
                  class="rounded-lg"
                  outlined
                  width="250"
                  height="300"
                  flat solo
                  @click="onClickProduct(item)"
                >
                  <v-img
                    class="ma-4"
                    contain
                    height="150"
                    aspect-ratio="1"
                    :src="item.img"
                  ></v-img>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-card-title
                        class="subtitle-1 font-weight-bold text-uppercase ellipsis"
                        v-on="on"
                      >
                        {{ item.name }}
                      </v-card-title>
                    </template>
                    <span>{{ item.name }}</span>
                  </v-tooltip>
                  <v-card-text>
                    <div class="subtitle-1 red--text">
                      ₫ {{ formatPrice(item.price) }}
                    </div>
                  </v-card-text>
                  <!-- <v-card-actions class="product-list__products__actions">
                    <v-row dense>
                      <v-col cols="6">
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="orange"
                              icon
                              block
                              depressed
                              v-on="on"
                              @click.stop="onClickOrder"
                            >
                              <v-icon>mdi-file-document</v-icon>
                            </v-btn>
                          </template>
                          <span>Create Order</span>
                        </v-tooltip>
                      </v-col>
                      <v-col cols="6">
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="orange"
                              icon
                              block
                              depressed
                              v-on="on"
                              @click.stop="onClickOrder"
                            >
                              <v-icon>mdi-cart</v-icon>
                            </v-btn>
                          </template>
                          <span>Add To Cart</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                  </v-card-actions> -->
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-card height="20vh" flat solo></v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import UtilsMixins from "../../mixins/UtilsMixins";

export default {
  name: "ProductList",
  mixins: [UtilsMixins],
  props: {
    name: {
      type: String,
      default: "",
    },
    category: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      url: {
        products: `${this.baseUrl}/products`,
      },

      searchMenu: false,
      searchText: "",

      sortMenu: false,
      sortOrder: "",
      sortItems: [
        {
          text: "Tên A-Z",
          value: {
            sortBy: "name",
            sortOrder: "ASC",
          },
        },
        {
          text: "Tên Z-A",
          value: {
            sortBy: "name",
            sortOrder: "DESC",
          },
        },
        {
          text: "Giá thấp đến cao",
          value: {
            sortBy: "price",
            sortOrder: "ASC",
          },
        },
        {
          text: "Giá cao đến thấp",
          value: {
            sortBy: "price",
            sortOrder: "DESC",
          },
        },
      ],

      categoryItems: [
        {
          title: "Thịt lợn",
          params: "pork",
          img: "/static/assets/function/sausage.svg",
        },
        {
          title: "Thịt bò",
          params: "beef",
          img: "/static/assets/function/beef.svg",
        },
        {
          title: "Thịt gà",
          params: "chicken",
          img: "/static/assets/function/chicken-leg.svg",
        },
        {
          title: "Cá",
          params: "fish",
          img: "/static/assets/function/fish.svg",
        },
        {
          title: "Rau",
          params: "vegetable",
          img: "/static/assets/function/carrot.svg",
        },
        {
          title: "Hoa quả",
          params: "fruit",
          img: "/static/assets/function/apple.svg",
        },
        {
          title: "Trứng",
          params: "egg",
          img: "/static/assets/function/boiled-egg.svg",
        },
      ],
      productsInfo: {
        searchParam: {},
        list: [],
        pagination: {
          totalItem: 0,
          rowsPerPage: 12,
          totalPage: 0,
          currentPage: 0,
        },
      },
    };
  },
  watch: {
    sortOrder(val) {
      if (val) {
        this.onClickSortOrder(val);
      }
    },
  },
  mounted() {
    this.productsInfo.searchParam.name = this.name;
    this.productsInfo.searchParam.category = this.category;
    this.searchProducts();
  },
  methods: {
    onClickProduct(item) {
      this.$router
        .push({
          name: "ProductDetail",
          params: { id: item.id },
        })
        .catch(() => {});
    },
    onClickSortOrder(val) {
      this.productsInfo.searchParam.by = val.sortBy;
      this.productsInfo.searchParam.order = val.sortOrder;
      this.resetList();
      this.sortMenu = false;
    },
    onClickOrder() {},
    onClickSearchByName() {
      this.productsInfo.searchParam.name = this.searchText;
      this.resetList();
      this.searchMenu = false;
    },
    onClickClearFilter() {
      this.$router.push({ name: "ProductList" }).catch(() => {
        this.resetSearchMenu();
        this.resetSortMenu();
        this.productsInfo.searchParam = {};
        this.resetList();
      });
    },
    resetSearchMenu() {
      this.searchText = "";
    },
    resetSortMenu() {
      this.sortOrder = "";
    },
    resetList() {
      this.productsInfo.list = [];
      this.productsInfo.pagination.currentPage = 0;
      this.searchProducts();
    },
    wrapperScroll(e) {
      let isEnd =
        e.target.scrollHeight - e.target.scrollTop === e.target.clientHeight;
      if (isEnd && e.target.scrollTop !== 0) {
        this.handleEndScroll();
      }
    },
    handleEndScroll() {
      let currentPage = this.productsInfo.pagination.currentPage;
      let totalPage = this.productsInfo.pagination.totalPage;
      if (totalPage > 0 && currentPage < totalPage) {
        this.searchProducts();
      }
    },
    searchProducts() {
      this.$http
        .get(this.url.products, {
          params: {
            ...this.productsInfo.searchParam,
            page: this.productsInfo.pagination.currentPage,
            pageSize: this.productsInfo.pagination.rowsPerPage,
          },
        })
        .then((res) => {
          console.log(res.data);
          this.productsInfo.list = this.productsInfo.list.concat(res.data.data);
          this.productsInfo.pagination.totalItem = res.data.totalRowCount;
          this.productsInfo.pagination.totalPage = res.data.totalPage;
          this.productsInfo.pagination.currentPage++;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.product-list__category {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product-list__products {
  width: 100%;
  height: calc(75vh - 64px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-list__products__col {
  display: flex;
  justify-content: center;
}
.product-list__products__description {
  overflow-y: scroll;
  height: 64px;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-list__products__actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>