<template>
  <v-container>
    <v-row dense>
      <v-col cols="auto">
        <v-card class="order-detail__category" outlined>
          <v-list>
            <v-list-item two-line>
              <v-img src="/static/assets/function/user.svg"></v-img>
            </v-list-item>
            <v-list-item two-line @click="onClickGoBack">
              <v-img src="/static/assets/function/door.svg"></v-img>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="order-detail__orders" outlined>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <v-img src="/static/assets/function/beef.svg"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold text-uppercase">
                  Order ID
                </v-list-item-title>
                <v-container>
                  <v-row dense>
                    <v-col cols="12" md="2">
                      <v-text-field value="Chicken" readonly dense outlined flat solo label="Name"
                        prepend-inner-icon="mdi-food-drumstick"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                      <v-text-field value="100000" readonly dense outlined flat solo label="Price" suffix="₫"
                        prepend-inner-icon="mdi-cash"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                      <v-text-field value="20" readonly dense outlined flat solo label="Discount" suffix="%"
                        prepend-inner-icon="mdi-tag-arrow-down"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                      <v-text-field value="09:00" readonly dense outlined flat solo label="Delivery Time"
                        prepend-inner-icon="mdi-clock"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                      <v-text-field value="2021-12-21" readonly dense outlined flat solo label="Delivery Date"
                        prepend-inner-icon="mdi-calendar"></v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                      <v-text-field value="1" readonly dense outlined flat solo label="Buyer Number" suffix="/ 6"
                        prepend-inner-icon="mdi-account"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item>
              <v-list-item-avatar>
                <v-img src="/static/assets/logo/user.jpg"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold text-uppercase">
                  My Order
                </v-list-item-title>
                <v-container>
                  <v-row dense>
                    <v-col cols="12" md="2">
                      <v-text-field v-model="myOrder.quantity" :disabled="myOrder.isOrdered === true" dense outlined
                        flat solo label="Quantity" suffix="kg" prepend-inner-icon="mdi-cart" type="number">
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                      <v-text-field :value="totalPrice" :disabled="myOrder.isOrdered === true" dense outlined flat solo
                        label="Total Price" suffix="₫" prepend-inner-icon="mdi-cash" type="number" readonly>
                      </v-text-field>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" md="2">
                      <v-btn @click="myOrder.isOrdered = !myOrder.isOrdered" :disabled="myOrder.isOrdered === true"
                        :text="myOrder.isOrdered === true" depressed block>
                        {{ myOrder.isOrdered === false ? "Order" : "Ordered" }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <div class="order-detail__buyers">
              <template v-for="(item, index) in items">
                <v-list-item :key="item.title">
                  <v-list-item-avatar>
                    <v-img :src="item.avatar"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title class="font-weight-bold text-uppercase">
                      Username
                    </v-list-item-title>
                    <v-container>
                      <v-row dense>
                        <v-col cols="12" md="2">
                          <v-text-field disabled dense outlined flat solo label="Quantity" suffix="kg"
                            prepend-inner-icon="mdi-cart">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" md="2">
                          <v-text-field disabled dense outlined flat solo label="Total Price" suffix="₫"
                            prepend-inner-icon="mdi-cash">
                          </v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="12" md="2">
                          <v-btn depressed block disabled text>
                            {{ item.status }}
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-list-item-content>
                </v-list-item>
                <v-divider :key="index" inset></v-divider>
              </template>
            </div>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "OrderList",
  data() {
    return {
      items: [
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
          status: "Ordered",
        },

        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
          status: "Ordered",
        },

        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
          status: "Pending",
        },

        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
          status: "Pending",
        },

        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
          status: "Ordered",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
          status: "Ordered",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
          status: "Pending",
        },
        {
          avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
          status: "Ordered",
        },
      ],
      myOrder: {
        quantity: 0,
        isOrdered: false,
      },
    };
  },
  computed: {
    totalPrice() {
      return this.myOrder.quantity * 100000;
    },
  },
  methods: {
    onClickGoBack() {
      this.$router.push({ name: "OrderList" }).catch(() => { });
    },
  },
};
</script>
<style lang="scss" scoped>
.order-detail__category {
  width: 60px;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.order-detail__orders {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.order-detail__buyers {
  height: 50vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
</style>