<template>
  <v-container>
    <v-row dense>
      <v-col cols="auto">
        <v-card class="order-list__category" outlined>
          <v-list>
            <v-list-item two-line>
              <v-img src="/static/assets/function/magnifying-glass.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/funnel.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/write.svg"></v-img>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item two-line>
              <v-img src="/static/assets/function/beef.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/chicken-leg.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/fish.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/carrot.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/apple.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/cocktail.svg"></v-img>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="order-list__orders" outlined>
          <v-list three-line>
            <template v-for="(item, index) in items">
              <v-list-item :key="item.title" :to="{ name: 'OrderDetail' }">
                <v-list-item-avatar>
                  <v-img :src="item.avatar"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="font-weight-bold text-uppercase">
                    Order ID
                  </v-list-item-title>
                  <v-container>
                    <v-row dense>
                      <v-col cols="12" md="2">
                        <v-list-item-subtitle>
                          <v-icon>mdi-food-drumstick</v-icon>
                          <span>Chicken</span>
                        </v-list-item-subtitle>
                      </v-col>
                      <v-col cols="12" md="2">
                        <v-list-item-subtitle>
                          <v-icon>mdi-cash</v-icon>
                          <span>₫100000</span>
                        </v-list-item-subtitle>
                      </v-col>
                      <v-col cols="12" md="2">
                        <v-list-item-subtitle>
                          <v-icon>mdi-tag-arrow-down</v-icon>
                          <span>20%</span>
                        </v-list-item-subtitle>
                      </v-col>

                      <v-col cols="12" md="2">
                        <v-list-item-subtitle>
                          <v-icon>mdi-clock</v-icon>
                          <span>09:00 AM</span>
                        </v-list-item-subtitle>
                      </v-col>
                      <v-col cols="12" md="2">
                        <v-list-item-subtitle>
                          <v-icon>mdi-calendar</v-icon>
                          <span>21/12/2021</span>
                        </v-list-item-subtitle>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12" md="2">
                        <v-list-item-subtitle>
                          <v-icon>mdi-account</v-icon>
                          <span>6</span>
                        </v-list-item-subtitle>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-list-item-content>
              </v-list-item>
              <v-divider :key="index" inset></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "OrderList",
  data() {
    return {
      items: [
        {
          avatar: "/static/assets/function/beef.svg",
        },

        {
          avatar: "/static/assets/function/chicken-leg.svg",
        },

        {
          avatar: "/static/assets/function/beef.svg",
        },

        {
          avatar: "/static/assets/function/apple.svg",
        },

        {
          avatar: "/static/assets/function/beef.svg",
        },

        {
          avatar: "/static/assets/function/carrot.svg",
        },

        {
          avatar: "/static/assets/function/fish.svg",
        },

        {
          avatar: "/static/assets/function/carrot.svg",
        },

        {
          avatar: "/static/assets/function/beef.svg",
        },

        {
          avatar: "/static/assets/function/chicken-leg.svg",
        },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.order-list__category {
  width: 60px;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.order-list__orders {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
</style>