<template>
  <v-container>
    <v-row dense>
      <v-col cols="auto">
        <v-card class="profile__category" outlined>
          <v-list>
            <v-list-item two-line>
              <v-img src="/static/assets/function/personal.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/family.svg"></v-img>
            </v-list-item>
            <v-list-item two-line>
              <v-img src="/static/assets/function/shopping-cart.svg"></v-img>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="profile__main" outlined>
          <v-container>
            <v-row>
              <v-col cols="12" class="profile__cols">
                <v-card max-width="200" outlined>
                  <v-img
                    class="ma-2"
                    width="150"
                    height="150"
                    contain
                    :src="user.avatar"
                  ></v-img>
                  <v-file-input
                    dense
                    truncate-length="7"
                    accept="image/*"
                    clearable
                    @change="onChangeImage"
                    @click:clear="onClearImage"
                    flat
                    solo
                    hide-details
                    placeholder="Image"
                    prepend-icon=""
                    prepend-inner-icon="mdi-camera"
                  ></v-file-input>
                </v-card>
              </v-col>
              <v-col cols="12" class="profile__cols">
                <v-card min-width="50%" flat>
                  <v-form>
                    <v-row>
                      <v-col cols="12" md="6">
                        <v-text-field
                          dense
                          outlined
                          flat
                          solo
                          label="Username"
                          prepend-inner-icon="mdi-account"
                          readonly
                        ></v-text-field>
                        <v-text-field
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-account-details"
                          label="Full Name"
                        ></v-text-field>
                        <v-text-field
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-email"
                          label="Email"
                        ></v-text-field>
                        <v-text-field
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-phone"
                          label="Phone"
                        ></v-text-field>
                        <v-select
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-gender-male-female"
                          label="Gender"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-select
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-city"
                          label="City"
                        ></v-select>
                        <v-select
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-city-variant"
                          label="District"
                        ></v-select>
                        <v-select
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-home-city"
                          label="Ward"
                        ></v-select>
                        <v-select
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-office-building"
                          label="Apartment"
                        ></v-select>
                        <v-text-field
                          dense
                          outlined
                          flat
                          solo
                          prepend-inner-icon="mdi-home"
                          label="Room"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "OrderList",
  data() {
    return {
      user: {
        avatar: "/static/assets/logo/user.jpg",
      },
    };
  },
  methods: {
    onChangeImage(img) {
      if (img) {
        this.user.avatar = URL.createObjectURL(img);
      }
    },
    onClearImage() {
      this.user.avatar = "/static/assets/logo/user.jpg";
    },
  },
};
</script>
<style lang="scss" scoped>
.profile__category {
  width: 60px;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile__main {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile__cols {
  display: flex;
  justify-content: center;
}
</style>