<template>
  <div>
    <section id="hero" class="white">
      <v-row no-gutters>
        <v-carousel height="80vh" show-arrows-on-hover light hide-delimiter-background delimiter-icon="mdi-minus">
          <v-carousel-item class="pa-4" v-for="(slide, i) in slides" :key="i" eager>
            <v-img height="100%" :src="slide.img" contain></v-img>
          </v-carousel-item>
        </v-carousel>
      </v-row>
    </section>

    <section id="features">
      <div class="py-4"></div>
      <v-container class="text-center">
        <v-row justify="center">
          <v-col v-for="(item, index) in features" :key="index" cols="12" md="3" sm="3">
            <v-card class="py-4 px-8" outlined rounded="lg" :to="{ name: item.name }">
              <v-list-item>
                <v-list-item-avatar tile>
                  <v-img contain max-height="44" :src="item.icon"></v-img>
                </v-list-item-avatar>

                <v-list-item-title class="justify-center" v-text="item.title">
                </v-list-item-title>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>

    <section id="products">
      <div class="py-12"></div>
      <v-container>
        <v-row>
          <v-col class="pa-8" cols="12">
            <h1 class="display-1 font-weight-bold mb-3">Sản phẩm nổi bật</h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-8" v-for="({ src, text, title }, i) in products" :key="i" cols="12" md="4">
            <v-card class="homepage__products" outlined rounded="lg">
              <v-img class="homepage__products__img" :src="src"></v-img>
              <v-card-text>
                <v-rating :value="5" color="orange" dense half-increments readonly></v-rating>
              </v-card-text>
              <v-card-title class="font-weight-bold mb-4 ellipsis" v-text="title"></v-card-title>

              <v-card-text class="homepage__products__content title font-weight-light mb-5" v-text="text"></v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>

    <v-img src="/static/assets/homepage/see-more.png" height="100" contain @click="$vuetify.goTo('#menus')"></v-img>

    <section id="menus">
      <div class="py-4"></div>
      <v-container>
        <v-row align="center">
          <v-col class="pa-8" cols="12" md="4">
            <h1 class="display-1 font-weight-bold mb-3">Thực đơn theo mùa</h1>
            <h2 class="title mb-3">
              Gợi ý thực đơn theo mùa giúp bạn chọn lựa sản phẩm theo mùa, tốt
              cho sức khỏe, giúp tiết kiệm chi phí, giúp bữa ăn phong phú hơn.
            </h2>
          </v-col>
          <v-col class="pa-8" cols="12" md="8">
            <v-card flat rounded="xl">
              <v-img class="ml-auto" src="/static/assets/homepage/menu.png" height="500">
              </v-img>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-8" v-for="({ src, text, title }, i) in menus" :key="i" cols="12" md="4">
            <v-card class="homepage__menus" outlined rounded="lg">
              <v-img class="homepage__menus__img" :src="src"></v-img>
              <v-card-title class="font-weight-bold mb-4 ellipsis" v-text="title"></v-card-title>

              <v-card-text class="homepage__menus__content title font-weight-light mb-5" v-text="text"></v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>

    <v-img src="/static/assets/homepage/see-more.png" height="100" contain @click="$vuetify.goTo('#about-us')"></v-img>

    <section id="about-us">
      <v-container>
        <v-row>
          <v-col class="pa-8" cols="12">
            <v-card flat rounded="xl">
              <v-img class="ml-auto" src="/static/assets/homepage/about-us.png" height="800">
              </v-img>
            </v-card>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col class="pa-8" cols="12" md="8">
            <h1 class="display-1 font-weight-bold mb-3 text-center">
              Chất lượng được đặt lên hàng đầu
            </h1>
            <h2 class="title mb-3 text-center">
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velit
            </h2>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>

    <section id="join-us">
      <v-container>
        <v-row>
          <v-col class="pa-8" cols="12">
            <h1 class="headline font-weight-bold mb-3 text-center">
              Gia nhập đội ngũ Vimans
            </h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-8" v-for="({ src, text, title }, i) in joinUs" :key="i" cols="12" md="3">
            <v-card class="homepage__join-us" outlined rounded="lg">
              <v-img :src="src" height="250"></v-img>
              <v-card-title class="font-weight-bold mb-4 ellipsis text-center" v-text="title"></v-card-title>

              <v-card-text class="homepage__join-us__content title font-weight-light mb-5 text-center"
                v-text="text"></v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>
    <section id="join-us">
      <v-container>
        <v-row>
          <v-col class="pa-8" cols="12">
            <h1 class="headline font-weight-bold mb-3 text-center">
              Sự kiện cộng đồng
            </h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-8" v-for="({ src, text }, i) in community" :key="i" cols="12" md="3">
            <v-card class="homepage__community" outlined rounded="lg">
              <v-img :src="src" height="250"></v-img>
              <v-card-text class="homepage__community__content title font-weight-light mb-5 text-center"
                v-text="text"></v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12"></div>
    </section>
  </div>
</template>
<script>
export default {
  name: "Homepage",
  data() {
    return {
      products: [
        {
          src: "/static/assets/homepage/img-1.png",
          title: "Sản phẩm thuần túy",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        },
        {
          src: "/static/assets/homepage/img-2.png",
          title: "Sản phẩm thiên nhiên",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        },
        {
          src: "/static/assets/homepage/img-3.png",
          title: "Sản phẩm đặc trưng",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        },
      ],
      menus: [
        {
          src: "/static/assets/homepage/img-1.png",
          title: "Thực đơn ăn chay",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        },
        {
          src: "/static/assets/homepage/img-2.png",
          title: "Thực đơn chăm sóc người bệnh",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        },
        {
          src: "/static/assets/homepage/img-3.png",
          title: "Thực đơn dinh dưỡng",
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        },
      ],
      joinUs: [
        {
          src: "/static/assets/homepage/join-us-1.png",
          title: "Nhân sự",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
        {
          src: "/static/assets/homepage/join-us-2.png",
          title: "Quản lý",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
        {
          src: "/static/assets/homepage/join-us-3.png",
          title: "Phục vụ",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
        {
          src: "/static/assets/homepage/join-us-4.png",
          title: "Đầu bếp",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
      ],
      community: [
        {
          src: "/static/assets/homepage/community-1.png",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
        {
          src: "/static/assets/homepage/community-2.png",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
        {
          src: "/static/assets/homepage/community-3.png",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
        {
          src: "/static/assets/homepage/community-4.png",
          text:
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.",
        },
      ],
      features: [
        {
          icon: "/static/assets/homepage/product.svg",
          title: "Sản phẩm",
          name: "ProductList",
        },
        {
          icon: "/static/assets/homepage/order.svg",
          title: "Đi chợ",
          name: "OrderList",
        },
        {
          icon: "/static/assets/homepage/menu.svg",
          title: "Thực đơn",
          name: "MenuList",
        },
        {
          icon: "/static/assets/homepage/recipe.svg",
          title: "Công thức",
          name: "MenuList",
        },
      ],
      slides: [
        {
          img: "/static/assets/homepage/homepage.png",
        },
        {
          img: "/static/assets/homepage/homepage.png",
        },
      ],
      searchText: "",
    };
  },
  methods: {
    onClickSearchButton() {
      this.$router
        .push({ name: "ProductList", params: { name: this.searchText } })
        .then(() => { })
        .catch(() => { });
    },
  },
};
</script>

<style lang="scss" scoped>
.homepage__products {
  overflow: hidden;
}

.homepage__menus {
  overflow: hidden;
}

.homepage__products__img {
  border-radius: 24px;
  transform: rotate(9.08deg) scale(1.11) translateY(-30px);
}

.homepage__menus__img {
  border-radius: 24px;
  transform: rotate(9.08deg) scale(1.11) translateY(-30px);
}
</style>