<template>
  <v-app class="app">
    <v-app-bar color="white" app fixed flat>
      <v-img
        style="cursor: pointer"
        max-height="56"
        max-width="160"
        contain
        src="/static/assets/logo/main_logo.png"
        @click="onClickGoToHomepage"
      ></v-img>
      <v-toolbar-title class="ma-4">
        <span class="subtitle-2 text-uppercase font-weight-bold">Sản phẩm</span>
      </v-toolbar-title>
      <v-toolbar-title class="ma-4">
        <span class="subtitle-2 text-uppercase font-weight-bold"
          >Cộng đồng</span
        >
      </v-toolbar-title>
      <v-toolbar-title class="ma-4">
        <span class="subtitle-2 text-uppercase font-weight-bold">Thực đơn</span>
      </v-toolbar-title>
      <v-toolbar-title class="ma-4">
        <span class="subtitle-2 text-uppercase font-weight-bold"
          >Hệ sinh thái</span
        >
      </v-toolbar-title>
      <v-toolbar-title class="ma-4">
        <span class="subtitle-2 text-uppercase font-weight-bold">Liên hệ</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title
        style="border: 1px solid orange"
        class="app__profile pl-2 pr-2 pt-1 pb-1 rounded-lg"
        @click="onClickGoToProfile"
      >
        <span class="subtitle-2 orange--text text--darken-1 font-weight-bold"
          >Đăng nhập / Đăng ký</span
        >
      </v-toolbar-title>
    </v-app-bar>
    <v-app-bar class="mt-16 orange darken-3" fixed flat hide-on-scroll>
      <v-toolbar-title class="app__address ma-4">
        <v-icon color="white">mdi-map-marker-outline</v-icon>
        <span class="subtitle-2 white--text"> 123 Lý Thường Kiệt, Hà Nội </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-text-field
        class="mr-4 rounded-lg"
        dense
        solo
        flat
        placeholder="Bạn muốn tìm kiếm sản phẩm gì?"
        background-color="white"
        color="orange"
        hide-details
        append-icon="mdi-magnify"
      >
      </v-text-field>
      <v-spacer></v-spacer>
      <v-toolbar-title class="app__language ma-4">
        <v-icon class="vi-flag"></v-icon>
        <span class="subtitle-2 white--text">Tiếng Việt</span>
      </v-toolbar-title>
    </v-app-bar>
    <v-main class="app__main" style="margin-top: 112px">
      <router-view class="pt-8" :key="$route.fullPath"></router-view>
    </v-main>
    <v-footer class="orange darken-3" v-if="$route.name === 'Homepage'" dark>
      <v-container class="app__footer">
        <v-row>
          <v-col class="pa-8" cols="12" md="3">
            <v-img
              class="mb-8"
              src="/static/assets/logo/main-logo-white.png"
              width="200"
            ></v-img>
            <v-divider></v-divider>
            <v-divider></v-divider>
            <v-divider></v-divider>
            <v-img
              class="mt-8"
              src="/static/assets/logo/store.png"
              width="200"
            ></v-img>
          </v-col>
          <v-spacer></v-spacer>
          <v-col class="pa-8" cols="12" md="2">
            <h1 class="display-1 font-weight-bold mb-6">Vimans</h1>
            <h2 class="subtitle-1 mb-3">Giới thiệu chung</h2>
            <h2 class="subtitle-1 mb-3">Hoạt động</h2>
            <h2 class="subtitle-1 mb-3">Tuyển dụng</h2>
          </v-col>
          <v-col class="pa-8" cols="12" md="2">
            <h1 class="display-1 font-weight-bold mb-6">Hỗ trợ</h1>
            <h2 class="subtitle-1 mb-3">Trợ giúp 24/7</h2>
            <h2 class="subtitle-1 mb-3">Hướng dẫn thanh toán</h2>
            <h2 class="subtitle-1 mb-3">Chăm sóc khách hàng</h2>
            <h2 class="subtitle-1 mb-3">Khiếu nại</h2>
          </v-col>
          <v-col class="pa-8" cols="12" md="2">
            <h1 class="display-1 font-weight-bold mb-6">Liên hệ</h1>
            <h2 class="subtitle-1 mb-3">Vimans - The Viet Life</h2>
            <h2 class="subtitle-1 mb-3">1234 Láng Hạ, Đống Đa, Hà Nội</h2>
            <h2 class="subtitle-1 mb-3">091 8273 645</h2>
            <h2 class="subtitle-1 mb-3">contact@vimans.com</h2>
          </v-col>
        </v-row>
        <v-row align="center">
          <v-col cols="12" md="3">
            <v-container>
              <v-row>
                <v-col cols="2">
                  <v-btn icon>
                    <v-icon>mdi-instagram</v-icon>
                  </v-btn>
                </v-col>
                <v-col cols="2">
                  <v-btn icon>
                    <v-icon>mdi-twitter</v-icon>
                  </v-btn>
                </v-col>
                <v-col cols="2">
                  <v-btn icon>
                    <v-icon>mdi-facebook</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" md="1">
            <h3 class="subtitle-2 font-weight-bold">Điều khoản</h3>
          </v-col>
          <v-col cols="12" md="1">
            <h3 class="subtitle-2 font-weight-bold">Chính sách</h3>
          </v-col>
          <v-col cols="12" md="1">
            <h3 class="subtitle-2">
              &copy; {{ new Date().getFullYear() }} — VIMANS
            </h3>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  methods: {
    onClickGoToHomepage() {
      this.$router.push({ name: "Homepage" }).catch(() => {});
    },
    onClickGoToProfile() {
      this.$router.push({ name: "UserProfile" }).catch(() => {});
    },
  },
};
</script>
<style lang="scss" scoped>
.v-icon {
  height: 24px;
  width: 24px;
}
.v-icon.vi-flag {
  background-image: url("~/static/assets/logo/vietnam.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.app__logo {
  width: 150px;
  cursor: pointer;
}
.app__profile {
  width: fit-content;
  cursor: pointer;
}
.app__language {
  width: fit-content;
  cursor: pointer;
}
.app__main {
  padding-top: 0 !important;
}
.app__footer {
}
</style>